.App {
  margin: 5vh auto;
  font-family: 'lato', sans-serif;
  max-width: 1280px;
  padding: 25px;
}
.small-screen-text {
  font-size: 30px;
}
@media (max-width: 900px) {
  .VideoPodcast {
    display: none;
  }
}
@media (min-width: 900px) {
  .small-screen-text {
    display: none;
  }
  .VideoPodcast {
    display: block;
  }
}
